@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

body {
     margin: 0;
     background: #2b2e4a;
     font-family: 'Work Sans', sans-serif;
     font-weight: 400;
}



/*Styling nav bar*/
nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color: #1d2d50;
}

/*Styling navigation list using flex to posisioning list items*/
nav ul {
    margin: 0;
    min-height: 4rem;
	padding: 1em;
    box-sizing: border-box;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


/* Navbar icons fonts size and hover transition*/

.navbar-icon i{
    font-size: 1.5em;
    color: #34A4C9;
    transition: all 0.4s ease 0s;
}

.navbar-icon i:hover {
    color: #1e5f74;
}

/*Hide hamburger menu*/
#navbar-toggle{
    display: none;
}

 /*Shopping cart icon */

 #cart-icon-wrapper {
     position: relative;
     width: 50px;
     top: -20px;
 }

 #cart-icon {
     position: absolute;
 }
 #menubar-shoppingcart-qty {
     position: absolute;
     background-color: red;
     top: -24px;
     right: -16px;
     text-align: center;
     padding: 2px 6px 2px 6px;
     border-radius: 60px;
     color: white;
     font-size: 0.7em;
 }

/*Nav links fade trasition*/
nav a {
	position: relative;

	color: #34A4C9;
	text-decoration: none;
	font-size: 1.5rem;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
}

nav a:hover {
	color: #1e5f74;
}

/*Nav links line transition*/
.navbar-item a::before {
	content: '';
	display: block;
	height: 2px;
	background: #133b5c;
	position: absolute;
	top: -0.2em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: transform ease-in-out 250ms;
}


nav a:hover::before {
	transform: scale(1,1);
}


 .banner-wrapper{
     margin: 0;
     display: grid;
     position: relative;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 .banner{
     width:100%;
     position: relative;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 
     
}
/* meny */

/*
 .matUtvalg{
     padding: 10px;
     text-align: center;
     color: #1d2d50;
     font-family: "Montserrat", sans-serif;
     font-size: 1.7em;
     font-weight: 300;
}*/

main{
	background-color: #133b5c;
	margin: 0;
	padding: 5px;
	min-height: 30em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#main-title{
	margin-top: 10px;
	text-align: center;
    color: #34A4C9;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    font-weight: 300;
}


 .menyBilder{
     width: 60%;
     margin-left: auto;
     margin-right: auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-gap: 15px;
     border: 2px solid red;
     align-content: center;
}

 footer {
 	background-color: #1d2d50;
    text-align: center;
    min-height: 5em;
    width: 100%;
    padding: 5px;     
}

.contact-us-p-tag {
    color: #ffffff;
}
.fa-phone {
    color: #ffffff;
}

/*Styling when screen is 800px or less*/
@media only screen and (max-width: 800px){
     
    /*Navbar styling*/    
    nav ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-icon i{
        font-size: 1.5em;
    }

    #navbar-toggle{
        display: block;
    }

    .navbar-logo{
        display: none;
    }

    .navbar-cart{
        order: 1;
    }

    .navbar-item{
        order: 2;
        width: 100%;
        text-align: center;
        padding: 0.5em;
        display: none;
    }

}
