#product-container{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
text-align: center;

    
}
/*Styling for product element*/
.product{
    border: 5px solid red;
}

.product-name{
    text-align: center;
}

.product-image{
    display: block;
    
  margin-left: auto;
  margin-right: auto;
}

.product-description{
    text-align: center;
}

.product-price{
  
}

.add-to-cart-btn{
    background-color: #2b2e4a; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
 
}