
/*Styling for product element*/
 .product{
     text-align: center;
}
/*Styling all product names and properties*/
 .product-name{
     text-align: center;
     text-shadow: 3px 3px 3px black;
}
/*Styling all product images and properties*/
 .product-image{
     cursor: pointer;
     display: block;
     width: 100%;
     border-radius: 5px;
     box-shadow: 3px 3px 3px black;
     margin-left: auto;
     margin-right: auto;
}
/*Styling product description and properties*/
 .product-description{
     text-align: center;
     text-shadow: 3px 3px 3px black;
}
/*Styling product price and properties*/
 .product-price{
     text-shadow: 3px 3px 3px black;
     color: white;
     margin-right: 2em;
}
/*Add to cart button property*/
 .add-to-cart-btn{
     margin-left: 2em;
}
/*Styling add to cart feedback*/
 #cart-feedback{
     display: none;
     background-color: #363333;
     width: 15rem;
     border: 1px solid black;
     margin-top: 0.5em;
     margin-right: 0.5em;
     padding: 0em 1em 1em 1em;
     position: fixed;
     z-index: 2;
     top: 4rem;
     right: 0;
     text-align: center;
     border-radius: 5px;
     box-shadow: 3px 3px 3px black;
}

#cart-feedback__img-wrap{
  margin-left: auto;
  margin-right: auto;
  width: 11em;
}

.cart-feedback__img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

 #cart-feedback__name, #cart-feedback p{
}
 #cart-feedback__exit{
     position: absolute;
     color: #FFFFFF;
     cursor: pointer;
     right: 0.5em;
     top: 0.5em;
}

#cart-feedback__checkout__btn{
    display: inline-block;
}