#product-container{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 1px;
grid-row-gap: 0px;

    
}
/*Styling for product element*/
.product{}

.product-name{
    text-align: center;
}

.product-image{
    display: block;
    
  margin-left: auto;
  margin-right: auto;
}

.product-description{
    text-align: center;
}

.add-to-cart-btn{
 
}