/*Rendering existing reviews*/


#reviews-container {
    width: 100%;
    margin: 0;
}

restaurant-review {
    margin: 0;
    padding: 0;
    position: relative;
} 

.review-article {
    position: relative;
    width: auto;
    height: auto;
    max-height: 25rem;
    margin: 1em;
    background-color: #8e181b;
    border: 1px solid #8e181b;
    border-radius: 5px;
    padding: 1em;
}

.review-star-element {
    color: #FFFFFF;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

/*Form for adding a review*/

#review-visitor-title {
    color: #FFFFFF;
    margin: 30px 20px 20px 15px;
}

#input-text {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    resize: none;
    height: 6rem;
}

<<<<<<< HEAD
#review-label {
    margin-top: 10px;
}

#star-review {
    display: inline-block;
    flex-wrap: nowrap;
=======
#review-visitor-title {
    color: #FFFFFF;
    margin: 2rem 1rem 1rem 1rem;
>>>>>>> fe0369a0e34511f2e1ff0ae8c011573250469c9a
}

.input-star {
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;    
}