
#checkout-container{
    padding: 1em;
}

.input-delivery{
    padding: 7px 10px 5px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #2b2e4a;
    margin: 0px 0px 10px 10px;
    color: #FFFFFF;
      font-family: "Montserrat", sans-serif;

}

.radio-delivery {
    margin-bottom: 20px;
}

#input-address {
    width: 300px;
      font-family: "Montserrat", sans-serif;

}

#btn-order-submit {
    margin: 10px 0px 30px 11px;
    font-size: 1.3em;
}

#place-order-title{
	text-align: center;
}


/*Center table*/
#cart-table{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    width: 100%;
}

#cart-table p{
    display: inline-block;
}

/*Applying common vertical padding*/
#cart-table th, #cart-table td{    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 

/*Setting heith for th and td*/
#cart-table th{
    height: 2.5em;
}

#cart-table td{
    height: 2em;
}

/*Setting alignment, horizontal padding and border
for name, quantity and price column, inc. tfoot*/
.cart-table__name{
    text-align: left;
    padding-left: 0.5em;
    border-bottom: 1px solid white;
    width: 50%;
    font-family: "Montserrat", sans-serif;

}

.cart-table__tfoot__name{
    text-align: left;
    padding-left: 0.5em;
    width: 50%;
      font-family: "Montserrat", sans-serif;

}

.cart-table__qty{
    text-align: right;
    padding-right: 0.5em;
    border-bottom: 1px solid white;
    width: 20%;
}

.cart-table__tfoot__qty{
    text-align: right;
    padding-right: 2em;
    width: 20%;
}

.cart-table__price{
    text-align: right;
    padding-right: 0.5em;
    border-bottom: 1px solid white;
    width: 30%;
}

#cart-table-thead__price, .cart-table__tfoot__price{
    text-align: right;
    padding-right: 1.7em;
    width: 30%;
      font-family: "Montserrat", sans-serif;

}


/*Setting size and aligning quantity input and remove button*/
.cart-qty-input{
    height: 1.5em;
    width: 2.3em;
}

.cart-remove-btn{
    margin-left: 0.5em;
    cursor: pointer;
}