.navbar-link__current {
    left: -1px;
    right: 4px;
}

/*Center table*/
#cart-table{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    width: 100%;
}

#cart-table p{
    display: inline-block;
}

/*Applying common vertical padding*/
#cart-table th, #cart-table td{    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 

/*Setting heith for th and td*/
#cart-table th{
    height: 2.5em;
}

#cart-table td{
    height: 2em;
}

/*Setting alignment, horizontal padding and border
for name, quantity and price column, inc. tfoot*/
.cart-table__name{
    text-align: left;
    padding-left: 0.5em;
    border-bottom: 1px solid white;
    width: 50%;
    font-family: "Montserrat", sans-serif;

}

.cart-table__tfoot__name{
    text-align: left;
    padding-left: 0.5em;
    width: 50%;
    font-family: "Montserrat", sans-serif;

}

.cart-table__qty{
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.cart-table__tfoot__qty{
    text-align: center;
    width: 20%;
}

.cart-table__price{
    text-align: right;
    padding-right: 0.5em;
    border-bottom: 1px solid white;
    width: 30%;
}

#cart-table-thead__price, .cart-table__tfoot__price{
    text-align: right;
    padding-right: 1.7em;
    width: 30%;
    font-family: "Montserrat", sans-serif;

}


/*Setting size and aligning quantity input*/
.cart-qty-wrapper {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: #453E3E;
}

.cart-qty-input{
    border: none;
    height: 1.9em;
    width: 1.7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    outline: none;
}

#cart-table .fa-plus, .fa-minus{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
#cart-table .fa-plus:hover, #cart-table .fa-minus:hover{
    color: #83171A;
}


.cart-qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Styling icons*/
#cart-table i{
    cursor: pointer;
}

.cart-remove-btn{
    margin-left: 0.5em;
    color: #ffffff;
}

#checkout-container{
    padding: 1em;
}
#place-order-title{
	text-align: center;
}

#label-home, #label-pickup{
    color: #ffffff;
    
}
#input-address-container {
    display: none;
}
#select-pickup {
    display: none;
}
.radio-delivery {
    margin-bottom: 20px;
}

.select-option {
    width: auto;
    max-width: 400px;
}

#input-address {
    width: 300px;
}

#error-order-message {
    color: red;
    font-weight: bold;
}

#confirm-order-text {
    line-height: 1.6;
}