
.universal-design-article{
    background-color: #8e181b;
    border: 1px solid #8e181b;
    border-radius: 5px;
    margin: 10px;
}

.uu-description {
    margin: 10px;
}

#uu-source {
    color: #ffffff;
    margin-left: 10px;
}