#universal-styling-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
}
.universal-design-article{
    background-color: #8e181b;
    border: 1px solid #8e181b;
    border-radius: 5px;
    margin: 10px;
}



.uu-description {
    margin: 10px;
}